.vs/PIGMServer/v15/.suo
.vs/PIGMServer/v15/Server/sqlite3/db.lock
.vs/PIGMServer/v15/Server/sqlite3/storage.ide
.vs/PIGMServer/v15/Server/sqlite3/storage.ide-shm
.vs/PIGMServer/v15/Server/sqlite3/storage.ide-wal
.vs/PIGMServer/v16/.suo
.vs/PIGMServer/v16/Server/sqlite3/db.lock
.vs/PIGMServer/v16/Server/sqlite3/storage.ide
obj/
